<div class="row rowst">
    <div class="col-sm-4"></div>
    <div class="col-sm-8" style="padding-left: 0px;">
        <div class="card">
            <div class="row rowst">
                <div class="col-sm-4"><app-course></app-course></div>
                <div class="col-sm-8" style="padding-left: 0px;">
                    <div class="row rowst">
                        <div class="col-sm-12">
                            <app-assessment></app-assessment>
                            <app-stud-att></app-stud-att>
                        </div>
                    </div>
                </div>
            
            </div>
                
            
            </div> 
    </div>

</div>
